<div class="container-fluid">
  <!-- Trainee section -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Trainee accounts</h6>
    </div>
    <div class="card-body">
      <a href="/trainingStaff/createTrainee">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Trainee account
        </button>
      </a>
      <br /><br />
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable1"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">username</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col">View</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% traineeAccounts.forEach(function(account) { %>
            <tr>
              <th scope="row"><%= account.id %></th>
              <td><%= account.username %></td>
              <td><%= account.createdAt %></td>
              <td><%= account.updatedAt %></td>

              <td>
                <div>
                  <a href="/trainingStaff/viewAccount?id=<%= account.id %>">
                    <button type="button" class="btn btn-success btn-sm">
                      <i class="fas fa-user-edit"></i> View
                    </button>
                  </a>
                </div>
              </td>
              <td>
                <div>
                  <a href="/trainingStaff/updateTrainee/<%= account.id %>">
                    <button type="button" class="btn btn-primary btn-sm">
                      <i class="fas fa-user-edit"></i> Update
                    </button>
                  </a>
                </div>
              </td>
              <td>
                <div>
                  <a href="/trainingStaff/deleteAccount?id=<%= account.id %>">
                    <button type="button" class="btn btn-danger btn-sm">
                      <i class="fas fa-user-minus"></i> Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Trainee section -->

  <!-- Course category section -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Course Categories</h6>
    </div>
    <div class="card-body">
      <a href="/trainingStaff/createCourseCategory">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Course category
        </button>
      </a>
      <br /><br />
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable2"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% courseCategories.forEach(function(category) { %>
            <tr>
              <th scope="row"><%= category.id %></th>
              <td><%= category.name %></td>
              <td><%= category.description %></td>
              <td>
                <div>
                  <a href="/trainingStaff/updateCategory/<%= category.id %>">
                    <button type="button" class="btn btn-primary btn-sm">
                      <i class="fas fa-user-edit"></i> Update 
                    </button>
                  </a>
                </div>
              </td>
              <td>
                <div>
                  <a
                    href="/trainingStaff/deleteCourseCategory?id=<%= category.id %>"
                  >
                    <button type="button" class="btn btn-danger btn-sm">
                      <i class="fas fa-user-minus"></i> Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Course category section -->

  <!-- Course section -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
    </div>
    <div class="card-body">
      <a href="/trainingStaff/createCourse">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Course
        </button> </a
      ><br /><br />
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable3"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% courses.forEach(function(course) { %>
            <tr>
              <th scope="row"><%= course.id %></th>
              <td><%= course.name %></td>
              <td><%= course.description %></td>
              <td><%= course.CourseCategory.name %></td>
              <td>
                <div>
                  <a href="/trainingStaff/updateCourse/<%= course.id %>">
                    <button type="button" class="btn btn-primary btn-sm">
                      <i class="fas fa-user-edit"></i> Update
                    </button>
                  </a>
                </div>
              </td>
              <td>
                <div>
                  <a href="/trainingStaff/deleteCourse?id=<%= course.id %>">
                    <button type="button" class="btn btn-danger btn-sm">
                      <i class="fas fa-user-minus"></i> Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Course section -->

  <!-- Trainer course section -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Trainer's tasks</h6>
    </div>
    <div class="card-body">
      <a href="/trainingStaff/assignTrainer">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Assign Course
        </button> </a
      ><br /><br />
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable4"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">Trainer</th>
              <th scope="col">Course</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% trainerCourses.forEach(function(trainerCourse) { %>
            <tr>
              <td><%= trainerCourse.Trainer.fullname %></td>
              <td><%= trainerCourse.Course.name %></td>
              <td>
                <div>
                  <a
                    href="/trainingStaff/removeTrainerTask/<%= trainerCourse.trainerId%>/<%= trainerCourse.courseId%>"
                  >
                    <button type="button" class="btn btn-danger btn-sm">
                      <i class="fas fa-user-minus"></i> Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Trainer Course section -->

  <!-- Trainee course section -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Trainee's tasks</h6>
    </div>
    <div class="card-body">
      <a href="/trainingStaff/assignTrainee">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Assign Course
        </button> </a
      ><br /><br />
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable5"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">Trainee</th>
              <th scope="col">Course</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% traineeCourses.forEach(function(traineeCourse) { %>
            <tr>
              <td><%= traineeCourse.Trainee.fullname %></td>
              <td><%= traineeCourse.Course.name %></td>
              <td>
                <div>
                  <a
                    href="/trainingStaff/removeTraineeTask/<%= traineeCourse.traineeId%>/<%= traineeCourse.courseId%>"
                  >
                    <button type="button" class="btn btn-danger btn-sm">
                      <i class="fas fa-user-minus"></i> Delete
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Trainee Course section -->
</div>
