<div class="container-fluid">
  <form action="/trainingStaff/editCourse" method="POST">
    <div class="mb-3" style="display: none;">
      <label for="exampleInputEmail1" class="form-label">Id</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="courseId"
        value="<%= course.id %>"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="name"
        value="<%= course.name %>"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="description"
        value="<%= course.description %>"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Course Category</label
      >
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        name="categoryId"
      >
        <option value="<%=course.CourseCategory.id%>"><%=course.CourseCategory.name%></option>
        <% categories.forEach(function(category) { %>
        <option value="<%= category.id%>">
          <%= category.name %>
        </option>
        <% }); %>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

